.project {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(137deg, rgba(182,220,255,1) 0%, rgba(185,182,229,1) 100%);
}

.project img {
    max-width: 100%;
    margin: auto;
    max-height: 100%;
    transition: transform .5s ease;
}

.project:hover img {
    transform: scale(1.1);
}

.project .description {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
    padding: .5rem;
    color: #262832;
    min-height: 7rem;
}

.project .description * {
    margin: .5rem auto .5rem .5rem;
}

@media only screen and (max-width: 64em) { 
    .project {
        margin: 1rem;
    }
} 