body {
  margin: 0;
  background: #333333;
  color: white;
  font-family: 'Roboto';
}

.root {
  display: flex;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bio {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bio span {
  margin: .25rem;
  font-size: 20px;
}