.progress-title {
    font-weight: 100;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #1E1E1E;
    border-radius: 15px;
}

.progress-bar {
    width: 0%;
    border-radius: 15px;
    height: 100%;
    -webkit-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}

.green {
    background: linear-gradient(137deg, rgba(152,224,95,1) 0%, rgba(13,227,172,1) 100%);
}

.yellow {
    background: linear-gradient(137deg, rgba(219,227,14,1) 0%, rgba(227,236,82,1) 100%);
}

.red {
    background: linear-gradient(137deg, rgba(255,136,124,1) 0%, rgba(182,50,95,1) 100%);
}