.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    grid-area: Header;
}

.nav a {
    margin: auto .5rem auto .5rem;
}

.nav img {
    width: 110px;
}

.nav h1 {
    margin: auto .5rem auto .5rem;
    font-weight: 100;
}

.nav .icons {
    display: flex;
    margin: auto;
    margin-right: .5rem;
}

.nav .icons img {
    width: 2.5rem;
    margin: auto .5rem auto .5rem;
}